@property --alignedPosition {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%
}
@property --dropPosition {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%
}
body {
  background: url('https://source.unsplash.com/random');
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  margin: 0;
}
.bottombar {
  --navWidth: 100vw;
  --navHeight: 60px;
  --alignedPosition: 50%;
  width: var(--navWidth);
  height: var(--navHeight);
  margin-top: auto ;
  display: flex;
  position: relative;
  place-content: center;
  box-sizing: border-box;
  padding: 0 30px;
}

nav {
  /* background: ; */
  filter: drop-shadow(0px 0px 10px black);
  display: flex;
  flex-flow: column-reverse;
  align-self: center;
  height: calc(var(--navHeight) - 10px);
  width: calc(var(--navWidth));
  border-radius: var(--navHeight);
  backdrop-filter: saturate(110%) blur(20px);
  background-image: paint(inset-bottom-bar, #fafafa30);
  --dropPosition: var(--alignedPosition);
  transition: --dropPosition .3s ease-in-out;
}
nav #items {
  display: flex;
  height: 100%;
  padding: 0 4px;
  place-items: center;
  font-size: 1.1rem;
  font-family: 'Arial Rounded MT';
  color: cornsilk;
}
nav #action {
  display: flex;
  place-content: center;
  
}

#fab {
  width: var(--navHeight);
  height: var(--navHeight);
  border-radius: var(--navHeight);
  filter: drop-shadow(0px 2px 2px black);
  background: black;
  position: absolute;
  left: var(--alignedPosition);
  transform: translate(-50%, -25px); /*22*/
  display: flex;
  place-items: center;
  place-content: center;
  cursor: pointer;
  z-index: 2;
  transition: left .3s ease-in-out, transform .15s ease-in-out
}
bkj-icon {
  fill: black;
  padding: 10px;
  transition: backdrop-filter .1s ease-in;
  border-radius: 50px;
  margin-right: 5px;
  cursor: pointer
}
bkj-icon:hover {
  backdrop-filter: brightness(125%)
}
bkj-icon:nth-child(2) {
  margin-left: auto
}
#fab bkj-icon {
  margin: 0;
  fill: white;
}

